# OnChain Program

- Create Position Configuration Account(Creator User)
    - Create Position Configuration Account
        - Creator address
        - PoolId
        - Base Token Address
        - Quote Token Address
    - Create Position Vault Account
        - Base Token Account
        - Quote Token Account
        - Withdraw Authority: Program Itself right?
- Agent Configuration Account
    - Agent Public Key
- Position Creation Function(Agent)
    - Signer: Agent Configuration Account Public Key
    - Position Configuration Account
    - Position Vault Account
    - Upper range Bin Id
    - Lower Range Bin Id
    - Active Bin Id (We can probably directly get it onchain by CPI
    - Logic:
        - Create a DLMM position based on the provided parameters + Position Configuration Account. Security checked based on the configuration + Agent Configuration
        - Deposit liquidity in the newly created position with fund from the Position Vault
- Position Range Update Function(Agent)
    - Signer: Agent Configuration Account Public Key
    - Position Configuration Account
    - Position Vault Account
    - Upper range Bin Id
    - Lower Range Bin Id
    - Active Bin Id (We can probably directly get it onchain by CPI
    - Logic:
        - Claim the fees from the position and deposit it to the vault position
        - Withdraw fund from DLMM position to the vault and close DLMM position
        - Create a DLMM position based on the provided parameters + Position Configuration Account. Security checked based on the configuration + Agent Configuration
        - Deposit all the liquidity from the vault into the newly created position with fund from the Position Vault
- Position Inventory Rebalancing(Agent)
    - Claim the fees from the position and deposit it to the vault position
    - Signer: Agent Configuration Account Public Key
    - Position Configuration Account
    - Position Vault Account
    - Liquidity Amount to rebalance
    - Overhold Token Address
    - Logic:
        - Claim the fees from the position and deposit it to the vault position
        - Withdraw the liquidity amount to rebalance from the extreme side of the Overhold token to the vault
        - Swap overhold token amount to rebalance to the other token
        - Deposit liquidity in the 3 bins closest to the active bin
- Position Closing Function
- Add Liquidity(User)
- Remove Liquidity(User)